.formContainer {
    width: 100%;
    margin-top: 20px;

    .inputContainer {
        width: 100%;
        margin-bottom: 20px;
        
        .input {
            width: 100%;
            padding: 10px;
            outline: none;

            margin-top: 10px;
        }
    }

    
}